@model College_Social_Network_Project.Models.Student
@{
    ViewBag.Title = "Create1";
}

<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
@Html.Partial("_Dashboard")
<h2 id="Duser">You must update your profile to get access</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" id="hide">
        @Html.LabelFor(model => model.Sid, "Sid", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.Sid, new { htmlAttributes = new { @class = "form-control", @Value = @TempData["userId"], @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Sid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Semail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Semail, new { htmlAttributes = new { @class = "form-control", @Value = @TempData["useremail"], @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Semail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Saddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Saddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Saddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sgender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sgender, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sgender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sacademicyear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sacademicyear, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sacademicyear, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form" id="updateform">
        <section class="loginForm">

            <div class="form-group">
                <div class="col-md-offset-4 col-md-3">
                    <input type="submit" value="Save" class="button-55" id="save" />
                    <br /><br />
                </div>

                <div class="col-md-offset-4 col-md-5">
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "button-55" })
                    <br /><br />
                </div>
            </div>

        </section>
    </div>

</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
