@model College_Social_Network_Project.Models.Join_course


<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
@Html.Partial("_Dashboard")
    <div>
        <h4>Join_course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Course.Cdesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.Cdesc)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

