@model College_Social_Network_Project.Models.Student

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
<h1><br></h1>

<h3>Are you sure you want to delete this?</h3>

<h3 id="Duser">Student :  @Html.DisplayFor(model => model.Semail) </h3>
    <div >
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Semail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semail)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Saddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Saddress)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Sgender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sgender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sacademicyear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sacademicyear)
            </dd>

        </dl>
        <div class="form">
            <section class="loginForm">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-3">
                            <input type="submit" value="Delete" class="button-55" id="delete" />
                            <br /><br />
                        </div>

                        <div class="col-md-offset-4 col-md-5">
                            @Html.ActionLink("Cancel", "Index", null, new { @class = "button-55" })
                            <br /><br />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
