@model IEnumerable<College_Social_Network_Project.Models.Student>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
@Html.Partial("_Dashboard")
<table id="users">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Semail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saddress)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Sgender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sacademicyear)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Semail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sgender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sacademicyear)
            </td>

            <td id="indextd">
                <a class="button-55" id="indexedit" href="@Url.Action("Edit" ,new { id = item.Sid })">Edit </a>
                <a class="button-55" id="indexdelete" href="@Url.Action("Delete" ,new { id = item.Sid })">Delete </a>
            </td>
        </tr>
    }

</table>
