@model College_Social_Network_Project.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Cdesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Cdesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUserRole.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserRole.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Aid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
